
/* ---------- Basic Layout Styles ----------- */

html,
body {
  height:100%;	
  width:100%;
  padding:0px !important;
  margin:0px;

}





#page  {
	margin-bottom:-32px;
	padding-bottom:32px;
}



#page-wrapper {
  min-width: 999px;
	min-height:100%;
	height:auto !important;
	background:none;
	padding:0px;
	display:block;
	margin-bottom:-32px;



  
}
#featured div.section,
#messages div.section,
#triptych,
#footer-columns
 {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}




#header div.section {
  position: relative;
  
}
#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 480px;
}
#content,
#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}

.two-sidebars #content {
  width: 480px;
}
.no-sidebars #content {
  width: 960px;
  float: none;
}
#sidebar-first,
#sidebar-second {
  width: 240px;
}

#content .section,
.sidebar .section {
  padding: 0 15px;
}
#breadcrumb {
  margin: 0 15px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  margin: 20px 20px 30px;
  width: 280px;
}

